/* css to set the background image and color */
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
}
.background-color {
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(
    /* to left top, */ rgba(247, 245, 245, 0) 50%,
    rgba(184, 53, 82, 0.508)
  );
}

.background-image {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("./../images/background.jpg");
}

/* styling of shibu inu api images */
#dogeImage {
  background-repeat: no-repeat;
  height: 450px;
  width: 425px;
  background-size: cover;
  background-position: center;
  margin-top: 80px;
  border-style: double;
  border-width: 2px;
  border-color: black;
  border-radius: 25px;
}

/* sets display of show and hide classes for the punchline in html */
.show {
  display: block;
}
.hide {
  display: none;
}

/* text styling for website name in header  */
h1 {
  font-weight: 900;
  font-size: 35px;
  word-spacing: -5px;
  text-decoration: underline;
  text-decoration-color: rgba(216, 69, 98, 0.642);
}

/* styling for setup and punchline text */
#setup {
  font-family: monospace;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  line-height: 98%;
}

/* styling for the API random joke and punchline  */
.joke {
  padding: 15px 15px 15px 15px;
  margin-top: 80px;
  border-style: double;
  border-radius: 25px;
  border-width: 2px;
  border-color: black;
}

#punchline {
  font-family: monospace;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
  text-decoration: underline;
  text-decoration-color: rgba(216, 69, 98, 0.642);
}

/* styling for show punchline and refresh button */
.container {
  text-align: center;
}

#showPunchline,
#refresh {
  font-size: 20px;
  padding: 27px 25px 27px 25px;
  font-family: sans-serif;
}

/* styling for header */
header {
  font-family: monospace;
  padding: 20px 40px 20px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

/* styling for "money please" button at top right of page */
#money {
  font-size: 20px;
  font-family: sans-serif;
}

/* column styling  */
.columns {
  min-height: 80%;
  margin: 0 !important;
}

/* middle cloumn styling  */
.speech-bubble {
  width: 100%;
  height: 100%;
}

/* right column styling */
#dad {
  width: 15%;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* styling for buttons and text that are linked to local storage */
#local-storage-text,
#saved,
#showJoke {
  font-family: monospace;
  font-size: 18px;
  padding: 20px 10px 20px 10px;
}

#local-storage-text {
  text-align: center;
  font-size: 1.5rem;
}

.local-storage-buttons {
  display: flex;
  height: 22px;
}

.local-storage-buttons #saved {
  padding: 0;
  padding-left: 10px;
}
